@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.homepage{
    background-color: #000;
    border-radius:  0% 0% 55px 55px;
    font-family: 'Poppins', sans-serif;
}
.homeBody{
    color:#fff;
    padding: 20px;
}

/*headings of homepage*/
.headingBox{
    
    text-align: center;
}

.SocialMedia{

}
.SocialMedia img{
    height: 80px;
    width: 200px;
}