/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.heading{
   font-family: "Space Grotesk";
    color: white;
    font-size: 30px;
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 40px;
    line-height: 1.45;
}

@media only screen and (max-width: 768px) {
    .heading{
        color: white;
        font-size: 30px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1.45;
    }
}
