// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

// Importing scss for video element
@import "~video-react/styles/scss/video-react";

@font-face {
    font-family: "Neue-Ultrabold";
    src: url("../assets/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf");
}

$color1: #3783eb;
$color2: #21252a;
$text-color: #fcf8f5;

$primary: $color1;
$secondary: $color2;

@import "~/node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    background-color: $color2;
}

.text {
    font-family: 'Neue-Ultrabold';
    color: $text-color;
}

.text-2 {
    font-family: 'Neue-Ultrabold';
    color: $text-color;
}

.heading-regular {
    // font-weight: 500;
    // font-size: ;
}

.navbar-logo {
    width: 100px;
}

.illustration {
    width: 100%;
}

// *************************************************HOME SECTION*************************************************
.store-logos-home {
    max-width: 300px;
}

.app-store-logo-home {
    margin-top: -45px;
    margin-left: -5px;
    height: 125px;
}

.play-store-logo-home {
    height: 35px;
}

// ****************************************************SERVICES****************************************************
$services-circle-size: 200px;
$services-circle-border-radius: 500px;

.services-circle-top {
    height: $services-circle-size/2;
    width: $services-circle-size;
    border-top-left-radius: $services-circle-border-radius;
    border-top-right-radius: $services-circle-border-radius;
    background-color: white;
    padding: 10px;
}

.services-circle-bottom {
    height: $services-circle-size/2;
    width: $services-circle-size;
    border-bottom-left-radius: $services-circle-border-radius;
    border-bottom-right-radius: $services-circle-border-radius;
    background-color: $color1;
    padding: 10px;
}

.services-circle-col {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

.services-circle-bottom-col {
    color: white;
}

.services-circle-top-offside-logo {
    width: 50px;
}

@media screen and (min-width:400px) {
    .services-circle-top {
        height: 125px;
        width: 250px;
    }

    .services-circle-bottom {
        height: 125px;
        width: 250px;
    }

    .services-circle-col {
        font-size: 12px;
    }
}

@include media-breakpoint-up(sm) {
    .services-circle-top {
        height: 175px;
        width: 350px;
    }

    .services-circle-bottom {
        height: 175px;
        width: 350px;
    }

    .services-circle-col {
        font-size: 18px;
    }
}

@include media-breakpoint-up(md) {
    .services-circle-top-offside-logo {
        width: 70px;
    }

    .services-circle-top {
        height: 200px;
        width: 400px;
    }

    .services-circle-bottom {
        height: 200px;
        width: 400px;
    }

    .services-circle-col {
        font-size: 20px;
    }
}

// ****************************************************REWARDS****************************************************


// *************************************************TESTIMONIALS*************************************************
.testimonial-card-container {
    width: 100%;
    max-width: 350px;
    background-color: black;
    min-height: 450px;
}

.testimonial-card-image {
    width: 150px;
    height: 150px;
}

// **************************************************FOOTER**************************************************
.footer-top-main-container {
    padding-top: 50px;
    overflow: hidden;
}

.footer-top-container {
    border-radius: 20px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: relative;
}

.footer-top-phone-image {
    position: absolute;
    width: 20%;
    transform: rotate(-10deg);
    top: -25px;
    left: 25px;
}

.footer-top-heading {
    font-size: 0.5rem !important;
}

.footer-store-logo-container {
    width: 70%;
    margin-left: auto;
    margin-right: 20px;
}

.app-store-logo-footer {
    width: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.play-store-logo-footer {
    width: 50px;
}

@media screen and (min-width:350px) {
    .footer-top-phone-image {
        top: -40px;
    }

    .footer-top-heading {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width:400px) {
    .footer-top-heading {
        font-size: 0.7rem !important;
    }

    .footer-store-logo-container {
        width: 60%;
    }
}

@media screen and (min-width:450px) {
    .footer-top-main-container {
        padding-top: 70px;
    }

    .footer-top-phone-image {
        top: -60px;
    }

    .footer-top-heading {
        font-size: 1rem !important;
    }

    .app-store-logo-footer {
        width: 60px;
        margin-top: -16px;
        margin-bottom: -16px;
    }

    .play-store-logo-footer {
        width: 60px;
    }
}

@include media-breakpoint-up(sm) {
    .app-store-logo-footer {
        width: 75px;
        margin-top: -23px;
        margin-bottom: -23px;
    }

    .play-store-logo-footer {
        width: 75px;
    }
}

@include media-breakpoint-up(md) {
    .footer-top-main-container {
        padding-top: 125px;
    }

    .footer-top-container {
        padding-top: 15px;
    }

    .footer-top-phone-image {
        top: -100px;
    }

    .footer-top-heading {
        font-size: 1.5rem !important;
    }

    .app-store-logo-footer {
        width: 125px;
        margin-top: -44px;
        margin-bottom: -44px;
    }

    .play-store-logo-footer {
        width: 125px;
    }
}

@include media-breakpoint-up(lg) {
    .footer-top-main-container {
        padding-top: 150px;
    }

    .footer-top-container {
        padding-top: 20px;
    }

    .footer-top-phone-image {
        top: -125px;
        left: 45px;
    }

    .footer-top-heading {
        font-size: 2rem !important;
    }

    .footer-store-logo-container {
        padding-bottom: 20px;
    }

    .app-store-logo-footer {
        width: 150px;
        margin-top: -52px;
        margin-bottom: -52px;
    }

    .play-store-logo-footer {
        width: 150px;
    }
}

@include media-breakpoint-up(xl) {
    .footer-top-main-container {
        padding-top: 215px;
    }

    .footer-top-phone-image {
        top: -180px;
    }
}

@include media-breakpoint-up(xxl) {
    .footer-top-heading {
        font-size: 2.5rem !important;
    }

    .app-store-logo-footer {
        width: 180px;
        margin-top: -64px;
        margin-bottom: -64px;
    }

    .play-store-logo-footer {
        width: 180px;
    }
}


// ******************************************************FOOTER : MID******************************************************
.footer-mid-container {
    position: relative;
}

.footer-mid-image {
    width: 100%;
    opacity: 0.2;
}

.footer-mid-heading-container {
    position: absolute;
    top: 0;
}

.footer-mid-heading-top {
    font-size: 0.75rem !important;
}

.footer-mid-heading-bottom-container {
    right: 0;
    top: calc(100% - 35px);
}

.footer-mid-heading-bottom {
    font-size: 0.5rem !important;
}

@media screen and (min-width:400px) {
    .footer-mid-heading-top {
        font-size: 1rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 50px);
    }

    .footer-mid-heading-bottom {
        font-size: 0.75rem !important;
    }
}

@include media-breakpoint-up(sm) {
    .footer-mid-heading-top {
        font-size: 1.5rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 62px);
    }

    .footer-mid-heading-bottom {
        font-size: 1rem !important;
    }
}

@include media-breakpoint-up(md) {
    .footer-mid-heading-top {
        font-size: 2rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 95px);
    }

    .footer-mid-heading-bottom {
        font-size: 1.5rem !important;
    }
}

@include media-breakpoint-up(lg) {
    .footer-mid-heading-top {
        font-size: 2.25rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 109px);
    }

    .footer-mid-heading-bottom {
        font-size: 1.75rem !important;
    }
}

@include media-breakpoint-up(xl) {
    .footer-mid-heading-top {
        font-size: 2.75rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 123px);
    }

    .footer-mid-heading-bottom {
        font-size: 2rem !important;
    }
}

@include media-breakpoint-up(xxl) {
    .footer-mid-heading-top {
        font-size: 3.5rem !important;
    }

    .footer-mid-heading-bottom-container {
        right: 0;
        top: calc(100% - 152px);
    }

    .footer-mid-heading-bottom {
        font-size: 2.5rem !important;
    }
}

// ******************************************************FOOTER : BOTTOM******************************************************
.footer-bottom-offside-logo {
    width: 50%;
    margin: auto;
}

// .footer-bottom-col-3-row{
//     display: flex;

// }

.footer-bottom-social-icons {
    width: 35px;
    margin: 5px;
}








// Media Queries
@include media-breakpoint-up(sm) {
    .store-logos-home {
        max-width: none;
    }

    .footer-contact-image {
        width: 50px;
        height: 50px;
    }

    .footer-icons-container {
        width: 70%;
    }
}

@include media-breakpoint-up(md) {
    .navbar-logo {
        width: 150px;
    }

    .illustration {
        width: 80%;
    }

    .app-store-logo-home {
        margin-top: -49px;
        height: 135px;
    }

    .play-store-logo-home {
        height: 39px;
    }

    .footer-icons-container {
        width: 50%;
    }
}

@include media-breakpoint-up(lg) {
    .app-store-logo-home {
        margin-top: -54px;
        height: 150px;
    }

    .play-store-logo-home {
        height: 43px;
    }

    .testimonial-card-container {
        min-height: 500px;
    }
}

@include media-breakpoint-up(xl) {
    .app-store-logo-home {
        margin-top: -60px;
        height: 165px;
    }

    .play-store-logo-home {
        height: 47px;
    }

    .testimonial-card-container {
        min-height: 600px;
    }

    .testimonial-card-image {
        width: 260px;
        height: 260px;
    }
}