@import "../../../styles/index.scss";

.container {
  background-color: $fluroscentBg;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148.79px;
  position: relative;

  .text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1181.39px;
    @media screen and (max-width: $large){
      padding: 0 1rem;
    }

    h1 {
      color: $background;
      @media screen and (max-width: $large){
        font-size: 3rem;
      }
      @media screen and (max-width: $medium){
        font-size: 1.5rem;
      }

    }
  }

}