/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.cardTitle {
  color: #fff;
  margin: 0px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 20px;
}
.cardSubTitle {
  color: #fff;
  max-width:  400px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  /* or 35px */

  color: #ffffff;
}

.box1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background: rgb(43, 21, 5);
  background: linear-gradient(
    360deg,
    rgba(43, 21, 5, 1) 0%,
    rgba(35, 19, 8, 1) 40%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.box2 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #000;
  border-radius: 20px;
 margin-left: 20px;
  background: rgb(43, 21, 5);
  background: linear-gradient(
    360deg,
    rgba(43, 21, 5, 1) 0%,
    rgba(35, 19, 8, 1) 40%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  display: flex;
  /* width: 86%; */
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}
.leftDiv {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardContainerInnerDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.fullPhone {
  width: 470px;
}

.halfPhone1 {
  width: 400px;
  margin-top: 100px;
}
.halfPhone2 {
  width: 400px;
  margin-top: 138px;
}

.containerVideo {
  display: flex;
  justify-content: center;
  padding: 100px;
}

@media only screen and (max-width: 1450px) {
  .fullPhone {
    width: 400px;
  }
  .halfPhone1 {
    width: 350px;
  }
  .halfPhone2 {
    width: 350px;
  }
}
@media only screen and (max-width: 1300px) {
  .fullPhone {
    width: 350px;
  }
  .halfPhone1 {
    width: 300px;
  }
  .halfPhone2 {
    width: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .fullPhone {
    width: 300px;
  }
  .halfPhone1 {
    width: 250px;
  }
  .halfPhone2 {
    width: 250px;
  }
}
@media only screen and (max-width: 1050px) {
  .fullPhone {
    width: 250px;
  }
  .halfPhone2 {
    width: 200px;
  }
  .halfPhone2 {
    width: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .leftDiv {
    flex-direction: column;
  }
  .fullPhone {
    width: 470px;
  }
  .halfPhone1 {
    width: 400px;
  }
  .halfPhone2 {
    width: 400px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
  .box2{
    margin-top: 20px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 700px) {
  .fullPhone {
    width: 400px;
  }
  .halfPhone1 {
    width: 350px;
  }
  .halfPhone2 {
    width: 350px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .fullPhone {
    width: 350px;
  }
  .halfPhone1 {
    width: 300px;
  }
  .halfPhone2 {
    width: 300px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .fullPhone {
    width: 300px;
  }
  .halfPhone1 {
    width: 250px;
  }
  .halfPhone2 {
    width: 250px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .fullPhone {
    width: 250px;
  }
  .halfPhone1 {
    width: 200px;
  }
  .halfPhone2 {
    width: 200px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .cardTitle {
    font-size: 20px;
  }
  .cardSubTitle {
    font-size: 16px;
  }
  .fullPhone {
    width: 225px;
  }
  .halfPhone1 {
    width: 175px;
  }
  .halfPhone2 {
    width: 175px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .fullPhone {
    width: 200px;
  }
  .halfPhone1 {
    width: 150px;
  }
  .halfPhone2 {
    width: 150px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .fullPhone {
    width: 150px;
  }
  .halfPhone1 {
    width: 100px;
  }
  .halfPhone2 {
    width: 100px;
  }
  .containerVideo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
