// New Fonts
$font-path: '/fonts/';


@font-face {
    font-family: 'Poppins-Bold';
    src: url($font-path + 'Poppins-Bold.ttf') format("opentype");
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url($font-path + 'Poppins-Black.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-Book';
    src: url($font-path + 'Poppins-Book.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url($font-path + 'Poppins-ExtraBold.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url($font-path + 'Poppins-ExtraLight.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-Heavy';
    src: url($font-path + 'Poppins-Heavy.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-Light';
    src: url($font-path + 'Poppins-Light.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Poppins-Regular';
    src: url($font-path + 'Poppins-Regular.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Poppins-TextBlack';
    src: url($font-path + 'Poppins-TextBlack.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Poppins-TextBold';
    src: url($font-path + 'Poppins-TextBold.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url($font-path + 'Poppins-SemiBold.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Poppins-TextBook';
    src: url($font-path + 'Poppins-TextBook.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-TextExtraBold';
    src: url($font-path + 'Poppins-TextExtraBold.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-TextExtraLight';
    src: url($font-path + 'Poppins-TextExtraLight.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-TextHeavy';
    src: url($font-path + 'Poppins-TextHeavy.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-TextLight';
    src: url($font-path + 'Poppins-TextLight.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Poppins-Medium';
    src: url($font-path + 'Poppins-Medium.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-TextThin';
    src: url($font-path + 'Poppins-TextThin.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url($font-path + 'Poppins-Thin.ttf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}