$small: 600px;
$smallPhone: 320px;
$medium: 900px;
$mediumPhone: 375px;
$large: 1200px;
$largePhone: 425px;
$largeTabletPotrait: 600px;
$largeTabletLandscape: 900px;
$desktopUp: 1200px;
$bigDesktopUp: 1800px;
$extraLarge: 1536px;